@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*, *::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
body{
    font-family:'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color:rgb(255, 255, 255);
    overflow-x: hidden;
}
.nav-container{
    width:100%;
    z-index: 3;
    height:80px;
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    color:black;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-container img{
    height:120%;
    width: 240px;
    padding:10px;
    margin-left:50px;
}
.nav-container ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex:1;
    height:100%;
    flex-direction: row;
}
.nav-container ul li{
    font-size:1.21rem;
    padding:1rem;
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin: auto;
    min-height:570px;
    height: 90vh;
}
.fullscreen-vedeo-wrap{
    position: absolute;
    top:80px;
    left:0px;
    width:100%;
    height:80vh;
    overflow: hidden;
}
.fullscreen-vedeo-wrap video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    width: 100%;
    height:80vh;
    position: absolute;
    top:80px;
    left:0px;
    background-color: rgb(20, 20, 20);
    z-index: 1;
    opacity: 0.7;
}
.header-content{
    z-index:2 ;
    margin-top: 80px;
}
.header-content h1{
    font-family: 'Anton', sans-serif;
    font-size:5rem;
    letter-spacing: .3rem;
    line-height: 6rem;
}
.header-content span{
    color:#13AFF0;
}
.header-content p{
    font-size: 1.2rem;
    text-decoration: double;
    display: block;
    letter-spacing: .6rem;
}
.downarrow{
    position: relative;
    width: 100px;
    height:50px;
    left:calc(50% - 50px);
    z-index:3;
    bottom: 150px;
    transition:all 170ms ease-out;
}
.downarrow .icon{
    opacity: .5;
    cursor: pointer;
    width:30px;
    font-size: 4rem;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 0px;
}
.downarrow .icon:hover{
    transform: translatey(.8vh);
}
section{
    padding:80px 15px;
    height: 100%;
    color:black;
    text-align: center;
}
.about{
    background:url("./back/back.png") no-repeat center center ;
    background-size: cover;
    height: 100%;
}
.about h1 , .portfolio h1 ,.jobs h1 ,.contact h1{
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family:'Inter', sans-serif;
    position: relative;
    text-align: center;
    letter-spacing: .5rem;
}
.before::before{
    content: " ";
    position: absolute;
    background: #13AFF0;
    width: 88px;
    height: 5px;
    top: 46px;
    left: -32px;
}
.about h2{
    font-size: 1.9rem;
    text-transform: uppercase;
}
.about p{
    font-size: 1.1rem;
    padding:35px;
    text-align: justify;
    width:60%;
    margin:0 auto;
    background:rgb(42, 42, 42, 0.9);
    border-radius: 15px;
    color: white;
    font-weight: 600;
    line-height: 2.5rem;
}
.about-wrapper .title, .portfolio .title, .jobs .title , .contact .title{
    text-align: center;
    margin:30px 0;
}
.fade {
    opacity: 0.4;
}
.contact .fade .title {
    font-size: 1.5rem;
}
.flex img{
    width:110px;
    height: 100px;
    opacity: 0.5;
    padding:20px;
    margin:0 30px;
}
.flex{
    width: 80%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
}
.gallery{
    top:50%;
    width:70%;
    margin: 0px auto;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:15px;
    padding: 30px;
    line-height: 0;
}
.imgitem{
    width:100%;
    position: relative;
}
.containerr {
    position: relative;
    width: 100%;
    height:100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #13aef065;
}
.containerr:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.text {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.8rem;
    width:100%;
    font-weight: 800;
}
.jobscontainer{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    align-content: center;
    padding: 20px 100px;
    height: 70%;
    flex: 1;
    justify-content:center;
    height: 100%;
    text-align: left;
}
.jobscontentleft{
    margin-right:40px;
    width:50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}
.jobscontentright{
    margin-left:40px;
    width:50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    text-align: justify;
}
.jobscontentleft h3 ,.jobscontentright h3{
    margin:10px 0;
}
.jobscontentleft p , .jobscontentright p{
    margin:10px 0;
}
.howto{
    text-align: center;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
.contact .content{
    max-width: 1200px;
}
.containercont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
}
.containercont .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containercont .contactinfo .box{
    position: relative;
    padding:20px 0;
    display:flex;
}
.containercont .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:#13AFF0;
}
.containercont .contactinfo .box .textcontact{
    display: flex;
    margin-left:0px;
    font-size: 16px;
    flex-direction: column;
}
.contactform{
    width:40%;
    padding: 40px;
}
.contactform h2{
    font-size: 30px;
}
.contactform .inputbox{
    position: relative;
    width:100%;
    margin-top:10px;
    font-family:'Inter', sans-serif;
}
.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
    color: black;
}
.contactform .inputbox textarea{
    padding: 3px 0;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1.2rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}
.contactform .inputbox input:focus ~ span, .contactform .inputbox input:valid ~ span, .contactform .inputbox textarea:focus ~ span, .contactform .inputbox textarea:valid ~ span {
    color : #13AFF0;
    font-weight: 700;
    font-size: 0.9rem;
    transform: translateY(-20px);
}
.contactform .inputbox [type="submit"] {
    width:100px;
    border:none;
    color:black;
    cursor:pointer;
    font-size: 1.2rem;
    background: #13AFF0;
}
footer{
    background:#232323;
   /* height: 30vh;
    */
    position: relative;
}
.footer-content{
   /* height: 200px;
    */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}
footer .footer-content .footer-section{
    padding:25px;
}
.footer-section .social a{
    border:1px solid gray;
    width:45px;
    height:45px;
    padding-top:5px;
    margin-right:5px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    display: inline-block;
    margin-top:30px;
    transition:all .3s ease-in;
}
.footer-section .social a:hover{
    border:1px solid #13AFF0;
    color:#13AFF0;
    transition:all .3s ease-in;
}
footer .footer-content .links ul a{
    display:block;
    font-size: 1rem;
}
.footer-section .links{
    width:30%;
}
.footer-bottom{
    width:100%;
    text-align:center;
    color:white;
    position: absolute;
    bottom:0px;
    left:0px;
    padding-top:20px;
    background: #232323;
    font-size: 1.1rem;
   /* height:8vh;
    */
}
/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
   /* CSS */
}
/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
   /* CSS */
}
/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
   /* CSS */
}
/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   /* CSS */
}
/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
   /* CSS */
}
/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    
    .nav-container img {
        margin: 0 auto;
    }
    .nav-container ul {
        display: none;
        
    }
    .header-content h1 {
        font-size: 3rem;
        letter-spacing: .1rem;
        line-height: 4rem;
    }
    .header-content p {
        font-size: 1rem;
        letter-spacing: .3rem;
    }
    
    .about p {
        font-size: 1rem;
        text-align: justify;
        width: 100%;
       padding:20px;
        font-weight: 600;
        line-height: 2.2rem;
    }
    .about {   
        background:none;
    }
    .flex img {
        width: 150px;
        height: 131px;
        margin: 0 16px;
    }
    
    
    
    
    .jobscontainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-content: center;
        height: 70%;
        flex: 1;
        justify-content: center;
        height: 100%;
        text-align: left;
        padding:20px;
   }
    .jobscontentleft, .jobscontentright {
        text-align: justify;
        width: 100%;
   }
    .jobscontentright {
        margin-left: 0px;
   }
    .footer-bottom{
        padding-top:5px;
       /* height:8vh;
        */
   }
    .footer-section .social a {
        margin-top: 10px;
   }
    .footer-content {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
   }
    .footer .footer-content .footer-section {
        padding: 5px 15px;
   }
    .containercont{
        width: 100%;
        display:block;
   }
    .contactform{
        width:100%;
   }
    .contact{
        padding: 0px 0px;
        display: block;
        text-align: center;
   }
    .containercont .contactinfo .box {
        display: block;
   }
    .containercont .contactinfo {
        width: 100%;
   }
    .gallery {
        width: 80%;
        gap: 8px;
        padding: 20px;
   }
}
